<div class="fluid-container">
	<nav class="navbar navbar-expand bg-iceBar" >
			<ul class="navbar-nav">
				<li class="nav-item">
					<button class="btn-menu1">
						<a class="nav-link" style="color:#ffffff" href="/home">Home</a>
					</button>
				</li>

				<li class="nav-item">
					<button class="btn-menu1">
						<a class="nav-link" style="color:#ffffff" href="/impFinNum">Importance of Fin Numeracy</a>
					</button>
				</li>

				<li class="nav-item">
					<button class="btn-menu1">
						<a class="nav-link" style="color:#ffffff" href="/whyFam">Why within a Family?</a>
					</button>
				</li>

				<li class="nav-item">
					<button class="btn-menu1">
						<a class="nav-link" style="color:#ffffff" href="/whyDiff">Why is this so Difficult?</a>
					</button>
				</li>
			
				<li class="nav-item">
					<button class="btn-menu1">
						<a class="nav-link" style="color:#ffffff" href="/culture">Cultural Factors</a>
					</button>
				</li>

				<li class="nav-item">
					<button class="btn-menu1">
						<a class="nav-link" style="color:#ffffff" href="/govPolicy">Government Policy</a>
					</button>
				</li>
			</ul>
	</nav>
</div>

<br><br>
