    <% include ../partials/header %>
    <% include ../partials/blogF %>
    <% include ../partials/menu %>


    <div class="jumbotron-container">
        <h3>
            Culture
        </h3>
            
        <p>&emsp; &emsp;
            One of the main reasons that there is so little financial discussion in a family is due to the cultural stigma. There are a lot of powerful cultural associations with affluence and poverty. Fiance can be closely tied to a sense of self worth. Discussing finance can thus feel like bringing up personal insecurities, guilts and weaknesses. This causes a cultural hurdle to overcome when looking to increase financial discussion. Some ways to address this obstacle stem from shifting the culture that surrounds money. If we can reduce the stigma that connects such negative emotions to finance, then conversions will come much more naturally, and with less strain. 

        </p>

        <p>&emsp; &emsp;
            It is very difficult to direct culture towards a specific form. Culture, especially on a wider scale, has an incredible number of inputs. These may be from media, peers, family, and community on varying scale of size. Introducing controlled changes to culture can thus come from adding to one of these pre-existing sources, removing those sources, or creating new ones. Given that there are already so many sources of incoming cultural influence, it would have the most impact to focus on the pre-existing sources. Because of the nature of media, and an inability to control what is said, attempting to remove sources would prove more difficult than changing culture in other ways. Thus, looking to use pre-existing sources to increase the amount of cultural input is hypothetically the best way to influence culture.  

        </p>

        <p>&emsp; &emsp;
            One of the cultural inputs that are negatively impacting the financial views of the US is based around social media. There is a toxic side of social media that is a vehicle for people to display highly idealized, yet unrealistic versions of themselves, and there is a similar situation with wealth. On social media, people can display themselves as whatever they want to be displayed as. Because being wealthy is seen as desirable, people will often spend money in order to appear successful on social media. This takes conspicuous consumption to a whole new level, because now people are spending money to impress a hypothetical audience in the form of viewers. If there is a way to reverse the trend of conspicuous consumption on social media, this may provide a positive cultural impact for the US youth. Celebrities may come into play here. If celebrities are against the concept of conspicuous consumption on social media, this may slow or even halt this cultural effect. 

        </p>

        </div>
    </div>

</div>    
</div>
</div>
<% include ../partials/footer %>
