    <% include ../partials/header %>
    <% include ../partials/blogF %>
    <% include ../partials/menu %>


    <div class="jumbotron-container">
        <h3>
            Government Policy - 

        </h3>

    
        <p>&emsp; &emsp;
            One of the ways to increase financial discussion within a family is through mandating it. By focussing on finding ways to make people talk about finance, there might not need to be as much pressure to change the culture. Sexual education is an example of another time when mandated discussion was created. It was a topic that has a lot of cultural stigma attached to it, but it was vital to talk and learn about. The government mandated that it be taught in schools. Because it was being taught in schools, the kids would bring those discussions back home with them to talk through with their parents. Thus, another way to increase financial literacy would be to add it to school curriculums. Add units, classes, or subjects that focus on financial literacy, and ensure that the kids go home and talk about it with their parents. There are some potential obstacles with this system. The first being that the schools would need to make space for this education in an already tight curriculum. The second is that the parents may not have true understanding of the financial topics. 

        </p>

        <p>&emsp; &emsp;
            A slight change on this system would be to create a system that involves the parents in a more active role. To start, the parents would be called into the schools periodically, and the teachers were to educate the parents on financial matters. The parents would then go back home to their children with resources like discussion guides and hold conversations with their children. This has several benefits. First, the amount of financial socialization within the family would directly increase. The parents would be more educated about finance, and any misunderstandings they had could be addressed. The schools wouldn’t need to worry about fitting more units into their curriculums or taking away from class time. The events of teaching the parents, then the parents bringing conversations home could also be held as frequently as needed. It could be a system that addresses a lot of the basic, need-to-know information. 
        </p>


        </div>
    </div>

</div>    
</div>
</div>
<% include ../partials/footer %>
