    <% include ../partials/header %>
    <% include ../partials/blogF %>
    <% include ../partials/menu %>


    <div class="jumbotron-container">
        <h3>
            Home
        </h3>
            
        

        <p>&emsp; &emsp;
        
        </p>

        </div>
    </div>

</div>    
</div>
</div>
<% include ../partials/footer %>
