    <% include ../partials/header %>
    <% include ../partials/blogF %>
    <% include ../partials/menu %>


    <div class="jumbotron-container">
        <h3>
            The importance of Financial Numeracy - 
        </h3>

        <p>&emsp; &emsp;
            Financial innumeracy is a major problem in our society. People of all demographics are suffering from lack of knowledge and understanding about the financial system in the US. Each general age range of citizens has a specific issue that they must face. Problems that weren’t a factor in previous generations are now incredibly impactful. For young adults, even small actions can have enormous impacts later on. Compounding debt, lack of perspective and ignorance of credit will become highly problematic in their futures. For the middle aged, conspicuous consumption, an inability to save, and the financial challenges of raising children can become all-consuming. For those approaching retirement, the impacts of previous actions often grow to unhandleable sizes. Without a pension, people looking to retire may find themselves with little to no money to live on. Financial numeracy is one of the primary solutions to these problems.     
        </p>

        </div>
    </div>

</div>    
</div>
</div>
<% include ../partials/footer %>
