    <% include ../partials/header %>
    <% include ../partials/blogF %>
    <% include ../partials/menu %>


    <div class="jumbotron-container">
        <h3>
            Why is this so difficult? - 
        </h3>
            
        <p>&emsp; &emsp;
            The topic of finance has become a conversational taboo. The complex role that money plays in our society today has often created strained dynamics when brought up in conversation. The ‘Baby Boomer’ generation brought many cultural changes and shifts. One part of American culture that changed through their influence was the paradigm of money.  Many of these changes surround conspicuous consumption, and the spending of wealth to appear successful. The Baby Boomers often associated both earning and spending money as symbols of success, youth, and self worth. Also, parents may feel specifically uncomfortable discussing financial decisions with their children.  Because parents’ financial decisions have such a strong impact on their children, they may feel guilt if those impacts are negative.  They have natural incentives to avoid discussing topics such as the amount of money saved for college or their retirement if they feel they haven’t budgeted effectively. Many seek to avoid judgement or blame from their children. Studies have found that parents would rather risk the awkwardness of topics such as sex rather than discuss finance. 

        </p>

        </div>
    </div>

</div>    
</div>
</div>
<% include ../partials/footer %>
