    <% include ../partials/header %>
    <% include ../partials/blogF %>
    <% include ../partials/menu %>


    <div class="jumbotron-container">
        <h3>
            Why within a Family? -
        </h3>
            
        <p>&emsp; &emsp;
            Studies have found that the most effective way for college students to learn and internalize financial numeracy is through discussion within a family.  Discussion within a family has been found to be more effective than education through school, media or peers. In addition, the more information that was given to the college age people from their parents, the more likely their credit card balances are to be lower. Likewise, the saving habits of a parent has markable impacts on the saving rates of their children post college. In general, there are strong ties between financial socialization and personal financial facets such as income, saving levels, ownership of goods, financial ratios and credit reports. Financial attitudes are often set at younger ages through interactions within a family. If a healthy attitude towards finance is adopted through discussion, it will not only be highly beneficial for the children, but for the adults as well. 
        </p>

        </div>
    </div>

</div>    
</div>
</div>
<% include ../partials/footer %>
